.inputBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--first-color);
    transition: background-color 1.5s;

    input {
        width: 100%;
        outline: 0px;
        border: 0px;
        border-radius: 5px;
        height: 28px;
        padding: 0px;
        background-color: var(--second-color);
        color: var(--text-color);
        transition: background-color 1.5s, color 1.5s;
        text-align: center;
    }
}

.inputCont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 400px;
    position: relative;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 0;
        right: 0;
        right: 5px;
        top: 0;
        top: 7px;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }
}
