.header {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 1.5s;
    background-color: var(--first-color);
    margin-bottom: 20px;
    a {
        color: var(--image-color);
        transition: color 1.5s;
        height: min-content;
        text-decoration: none;
    }
    h1 {
        margin: 0px;
        font-size: 48px;
    }
    a:visited {
        color: var(--image-color);
    }
    a:active {
        color: var(--image-color);
    }
    a:hover {
        color: var(--text-color);
        transition: color 1.5s;
    }
}
