.header {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 1.5s;
    background-color: var(--first-color);
    margin-bottom: 20px;
    a {
        color: var(--image-color);
        transition: color 1.5s;
        height: min-content;
        text-decoration: none;
    }
    h1 {
        margin: 0px;
        font-size: 48px;
    }
    a:visited {
        color: var(--image-color);
    }
    a:active {
        color: var(--image-color);
    }
    a:hover {
        color: var(--text-color);
        transition: color 1.5s;
    }
}

.logoBlock {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle {
    font-size: 48px;
    color: var(--image-color);
    transition: color 1.5s;
    padding: 0px;
    display: flex;
    align-items: center;
}

.toggle:hover {
    color: var(--text-color);
    transition: color 1.5s;
}

.logo {
    background-color: var(--image-color);
    transition: background-color 1.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 38px;
    height: 38px;
}

.logoCont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoCont:hover {
    .logo {
        background-color: var(--text-color);
    }
}

.filterLight {
    filter: invert(85%) sepia(0%) saturate(1369%) hue-rotate(23deg) brightness(89%) contrast(101%);
    transform: rotate(360deg);
    transition: filter 1.5s, transform 1.5s;
}

.filterDark {
    filter: invert(10%) sepia(9%) saturate(264%) hue-rotate(169deg) brightness(88%) contrast(87%);
    transform: rotate(-360deg);
    transition: filter 1.5s, transform 1.5s;
}
