.tableInfo {
    position: absolute;
    top: 5px;
    right: 30px;
    cursor: pointer;

    .tooltip {
        background-color: var(--alternative-color);
        color: var(--image-color);
    }
}

.filterDark {
    filter: invert(75%) sepia(58%) saturate(4161%) hue-rotate(214deg) brightness(102%) contrast(94%);
    transition: filter 1.5s;
}

.filterLight {
    filter: invert(30%) sepia(84%) saturate(1270%) hue-rotate(242deg) brightness(84%) contrast(78%);
    transition: filter 1.5s;
}
