.themeSwitcher {
    display: flex;
    position: absolute;
    left: 0;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.toggle {
    font-size: 48px;
    color: var(--image-color);
    transition: color 1.5s;
    padding: 0px;
    display: flex;
    align-items: center;
}

.toggle:hover {
    color: var(--text-color);
    transition: color 1.5s;
}

.filterDark {
    filter: invert(30%) sepia(84%) saturate(1270%) hue-rotate(242deg) brightness(84%) contrast(78%);
    transition: filter 1.5s;
}

.filterDark:hover {
    filter: invert(75%) sepia(58%) saturate(4161%) hue-rotate(214deg) brightness(102%) contrast(94%);
    transition: filter 1.5s;
}

.filterLight {
    filter: invert(75%) sepia(58%) saturate(4161%) hue-rotate(214deg) brightness(102%) contrast(94%);
    transition: filter 1.5s;
}

.filterLight:hover {
    filter: invert(30%) sepia(84%) saturate(1270%) hue-rotate(242deg) brightness(84%) contrast(78%);
    transition: filter 1.5s;
}
