/* The switch - the box around the slider */
.switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: max-content;
    margin-inline: auto;
    border-radius: 15px;
    background-color: var(--first-color);
    transition: background-color 1.5s;
    h5 {
        margin: 0px;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--second-color);
    -webkit-transition: 1.5s;
    transition: 1.5s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--first-color);
    -webkit-transition: 1.5s;
    transition: 1.5s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--text-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
